APP_NAME=BlogCreator
APP_ENV=local
APP_KEY=base64:39q7vImP4gPg3iLJxNxXW4Id14cF9SmB9AG5j4SJC1U=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mediumapp-do-user-19384465-0.i.db.ondigitalocean.com
DB_PORT=25060
DB_DATABASE=defaultdb
DB_USERNAME=doadmin
DB_PASSWORD=AVNS_WF3zSwhY6vWkd-TfXuf
DB_ROOT_PASSWORD=admin

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


DO_ACCESS_KEY_ID=DO00RZ444FE6G3UHCYF2
DO_SECRET_ACCESS_KEY=QwlCZ7gf/QzwTBAhJ6/iFGkUw+j7l/8X9JvAXz8l3ak
DO_DEFAULT_REGION=lon1
DO_BUCKET=artishare-imgs
DO_USE_PATH_STYLE_ENDPOINT=false
DO_ENDPOINT=https://artishare-imgs.lon1.digitaloceanspaces.com

VITE_APP_NAME="${APP_NAME}"
